/* General Styles */

body {
  background-color: #FFFFFF;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Navbar */

.navbar {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 20px;
  align-items: center;
}

.header-logo img {
  width: 84px;
  height: 84px;
  margin-right: auto;
}

.header-link {
  display: flex;
  margin-left: auto;
}

.header-link a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
}

/* Hero Section */

.hero {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.hero-cta {
  flex-basis: 400px;
  text-align: left;
  margin-right: 50px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
}

.hero button {
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}

.hero-image img {
  width: 500px;
  height: 350px;
}

/* Content Section */

.content-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}

/* Quotation Section */

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 0 20px;
}

.quote p {
  font-size: 18px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
}

/* Sign Up Section */

.sign-up {
  background-color: #3882F6;
  margin: 50px 20px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.sign-item {
  flex: 1;
}

.signs-text p {
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;
}

h3 {
  color: #fff;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.signs-button button {
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  font-size: 15px;
  cursor: pointer;
}

/* Footer Section */

.footer {
  background-color: #1F2937;
  color: #fff;
  padding: 20px;
}
